---
layout: default
---

<header class="header-home" style="height: 100vh;">
  {% include nav.html %}
  <div class="header-home__home">
    <h1 class="header-home__home__title">Hi, I'm Maurício! <br> A Frontend Developer.</h1>
    <div class="header-home__home__stacks">
      <img src="assets/images/stack-js.png" alt="" class="header-home__home__stacks__img">
      <img src="assets/images/stack-react.png" alt="" class="header-home__home__stacks__img">
      <img src="assets/images/stack-node.svg" alt="" class="header-home__home__stacks__img">
    </div>
  </div>
</header>
<main class="main">
  <section class="homeBlog">
    <h2 class="homeBlog__title">Últimas publicações</h2>
    {% for post in site.posts limit:3 %}
      <div class="homeBlog__post">
        <a href="{{ post.url }}" class="homeBlog__post__a">
          <img src="{{ post.image }}" alt="Post image" class="homeBlog__post__image">
          <h3 class="homeBlog__post__title">{{ post.title }}</h3>
        </a>
      </div>
    {% endfor %}
    <a href="/blog" class="btn">Ver blog</a>
  </section>
</main>