<footer class="footer">
  <div class="footer__site">
    <h4 class="footer__site__title">Home</h4>
    <ul class="footer__site__ul">
      <li class="footer__site__li">
        <a href="/blog" class="footer__site__a">Blog</a>
      </li>
      <li class="footer__site__li">
        <a href="/sobre" class="footer__site__a">Sobre</a>
      </li>
    </ul>
  </div>

  <div class="footer__social">
    <h4 class="footer__social__title">Social</h4>
    <ul class="footer__social__ul">
      <li class="footer__social__li">
        <a href="https://github.com/mauriciomutte" target="_blank" rel="noopener" class="footer__social__a">Github</a>
      </li>
      <li class="footer__social__li">
        <a href="https://twitter.com/mauriciomutte" target="_blank" rel="noopener" class="footer__social__a">Twitter</a>
      </li>
    </ul>
  </div>
</footer>