<head>
  <meta charset="UTF-8">
  <meta propery="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#161223">
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  <title>{{ site.title }}</title>

  <!-- LINKS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/prism.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"> 
</head>