.post-header {
  color: $white;
  box-shadow: 0 -20px 40px 15px rgba($color: $black, $alpha: .8);
  height: 67vh;
  position: relative;
  text-align: center;

  .nav {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__block {
    min-width: 100%;
    position: absolute;
    top: 35%;
  }

  &__title {
    font-size: 36px;
    margin: 5px 0;
    text-align: center;
  }

  &__category {
    border: 2px solid $white;
    border-radius: 8px;
    color: $white;
    display: table;
    font-weight: 600;
    margin: 20px auto;
    min-width: 50px;
    padding: 3px 20px;
    text-decoration: none;
  }

  &__img {
    background: no-repeat center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &::before {
      content: "";
      background-color: #000;
      background-image: linear-gradient(360deg,#ff8c39 -100%, #000 100%);
      display: block;
      height: 100%;
      opacity: .8;
      width: 100%;
    }
  }

  @media (min-width: 640px) {
    &__title {
      font-size: 48px;
      max-width: 100%;
      padding: 0 20%;
    }
  }
}

.post {
  margin: 3em 5%;

  p {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    word-wrap: break-word;
    margin: 0 0 1.3em 0;
  }

  a, strong {
    color: #ff8c39;
  }

  ul {
    margin: 0 0 1.5em 20px;
    color: #ff8c39;

    p {margin: 0;}
  }

  h1, h2, h3, h4, h5, h6 {
    color: #ff8c39;
    margin: 3px 0 5px;
  }

  h2 {
    font-size: 30px;
    margin: 3px 0 20px;
  }

  img {
    border-radius: 5px;
    height: auto;
    width: 100%;
    box-shadow: 0 0 10px rgba($color: $black, $alpha: .2)
  }

  pre {
    margin: 0 0 1.5em 0 !important;
  }

  @media only screen and (min-width: 640px) {
    margin: 3em 20%;

    p {
      font-size: 18px;
    }
  }
}

.comments {
  margin: 4em 5% 5em;

  @media (min-width: 640px) {
    margin: 4em 20% 5em;
  }
}