---
layout: default
---
<header class="post-header">
  {% include nav.html %}
  <div class="post-header__img" style="background-image: url('{{ page.image }}')"></div>
  <div class="post-header__block">
    <span class="post-header__date">{{ page.date | date_to_string }}</span>
    <h1 class="post-header__title">{{ page.title }}</h1>
    <a href="/category/{{ page.categories }}" class="post-header__category">{{ page.categories }}</a>
  </div>
</header>
<section class="post">
  {{ content }}
</section>

{% include comments.html %}

<script src="/assets/js/prism.js"></script>